<%= render "shared/nav" %>

<div class="jumbotron">

	<h1>Log in</h1>

	<div>
	<% if flash[:fail] %>
		<div class="notice"><%= flash[:fail] %></div>
	<% end %>
	<div>

	<%= form_for :login do |f| %>
		<div>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>
		<div>
			<%= f.submit "Log In" %>
		</div>
	<% end %>

</div>