<%= render "shared/nav" %>

<div class = "jumbotron">
	<h1>Edit your profile</h1>

	<% @user.errors.full_messages.each do |msg|
	 %>
	 	<p>
	 		<%= msg %>
	 	</p>
	 <% end %>

	<div><%= image_tag @user.image.url  %></div>
	<div class="add-photo">
		<%= form_for @user do |f| %>
			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
			<div>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>	
			<div>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</div>
			<div>
				<%= f.label :avatar, "Add a display picture" %>
				<%= f.file_field :avatar %>
			</div>
			<div>
				<%= f.submit "Confirm" %>
			</div>
		<% end %>
	</div>
</div>

