<%= render "shared/nav" %>

<div class="jumbotron row text-center">
	<h1>Signup</h1>

	<ul class="errors">

	  <% @user.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>

	</ul>
	<div class="add-photo">
		<%= form_for @user do |f| %>
			<div>
				<%= f.label :name %>
				<%= f.text_field :name %>
			</div>
			<div>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
			<div>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</div>
			<div>
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation %>
			</div>
			<div >
				<%= f.label :avatar %>
				<%= f.file_field :avatar %>
			</div>
			<div>
				<%= f.submit "SIGN UP" %>
			</div>
		<% end %>
	</div>
</div>