<%= render "shared/nav" %>

<div class = "jumbotron">
	<%=form_for @user do |f| %>
	<% end %>
	<%= image_tag @user.image.url %>

	<div><%= current_user.name %></div>
	<div><%= current_user.email %></div>
	<div>You have <%=  %> of albums</div>
</div>
