<%= render "shared/nav" %>

<div class = "jumbotron">

	<%= image_tag @user.avatar.url(:thumb) %>

	<div><%= current_user.name %></div>
	<div><%= current_user.email %></div>
	<div>You have been on <%= current_user.albums.length %> adventure(s)</div>
	

</div>

