<div class="row">
		<nav class="navbar navbar-inverse">
			<div class="nav-button-left">

			<% if logged_in? %>
			  <button type="button" class="btn btn-default","col-md-1"><%= link_to 'Home', users_path %></button>
			   
			  <button type="button" class="btn btn-default","col-md-1"><%= link_to 'Your Profile', user_path(current_user) %></button>			  
			  <button type="button" class="btn btn-default","col-md-1"><%= link_to 'Your Albums', albums_path %></button>

			   <button type="button" class="btn btn-default","col-md-1"><%= link_to 'Edit Profile', edit_user_path(current_user) %></button>

			  

			<% else %>
			  <button type="button" class="btn btn-default","col-md-1"><%= link_to 'Home', users_path %></button>
			<% end %>

			</div>
		<div class="nav-button-right">

				<% if logged_in? %>

					<button type="button" class="btn btn-default","col-md-1"><%= link_to 'Log Out', logout_path, method: :delete %></button>

				<% else %>

			
				  	<button type="button" class="btn btn-default",""><%= link_to "SignUp", new_user_path %></button>
				 	 <button type="button" class="btn btn-default"><%= link_to 'Log In', login_path  %></button>
			</div>
		<% end %>
		</nav>
</div>