<!-- Navbar -->
<nav class="navbar navbar-inverse"> 

	<!-- Row-fluid -->
	<div class="container-fluid">
		 <div class="row"> 
			<div class="col-md-10 text-left btn-group">
					
					  <button type="button" class="btn btn-default btn-lg"><%= link_to 'Home', users_path %></button>
					
					<% if logged_in? %>   

					  <button type="button"
					  class="btn btn-default btn-lg" role="button"><%= link_to 'Your Profile', user_path(current_user) %></button>			  
					  <button type="button" class="btn btn-default btn-lg"><%= link_to 'Your Albums', albums_path %></button>

					  <button type="button" class="btn btn-default btn-lg"><%= link_to 'Edit Profile', edit_user_path(current_user) %></button>

					<% end %>
							
			<!-- End col-md-6 -->
			</div>

			<div class="col-md-2 text-right">

				<% if logged_in? %>   
					<button type="button" class="btn btn-default btn-lg"><%= link_to 'Log Out', logout_path, method: :delete %></button>
				<% else %>
					<div class="row">
					<button type="button" class="btn btn-default btn-lg text-left",""><%= link_to "SignUp", new_user_path %></button>
				 	<button type="button" class="btn btn-default btn-lg text_right"><%= link_to 'Log In', login_path  %></button>
				 	<div>
				<% end %>

			<!-- End col-md-6 -->	
			</div>
		</div>
	<!-- End Row-fluid -->
	</div>

<!-- End Navbar -->
</nav>
