<%= render "shared/nav" %>

	<div class="jumbotron">



			<div class="album-name">
				<h1><%= @album.name %></h1>
			</div>
			<div>
				<%= @album.about %>
			</div>

			<% @album.photos.each do |photo| %>
				<%= link_to (image_tag photo.image.url(:default)), album_photo_path(@album, photo) %>
			<% end %>
			<div>
			<button class="createalbum .col-md-1"><%= link_to "Back", albums_path %></button>
			</div>

	</div>





