<%= render "shared/nav" %>

<div class="jumbotron">

	<div class="row add-photo">
		<%= form_for @album, url: album_photos_path(@album), method: 'post' do |f| %>
				<%= f.fields_for @album.photos do |photo_fields| %>
					<div class="">
						<%= photo_fields.file_field :image, multiple: true %>
					</div>
					
				<% end %>
				<div>
					<%= f.submit "submit" %>
				</div>
		<% end %>
	</div>
</div>